<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">

        <section>
            <h1 class="display-1">Sobre mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolores repudiandae cupiditate sit dignissimos quidem nam! Non vel nam aliquam molestiae natus velit quis repudiandae eos iste! Temporibus libero voluptatem laudantium sequi laboriosam fugit consectetur rerum esse omnis nesciunt ab dicta molestiae iste qui, nihil exercitationem facere tempora velit maiores tenetur provident, laborum earum! Amet ad consectetur error voluptas quasi sunt rem quis quisquam, dolor qui? Adipisci ut beatae numquam? Maxime pariatur rerum ab placeat, ipsum libero officiis! Porro impedit a assumenda quo veniam neque quibusdam, eum odit numquam, sed ab magnam, veritatis consequuntur est accusamus eaque! Doloribus officiis voluptate optio excepturi sequi consequatur error, animi, ullam sit rem maiores similique exercitationem ipsum sapiente possimus impedit at, vitae voluptas doloremque voluptatem explicabo? Tempore, officiis accusamus sunt unde rem inventore omnis excepturi expedita, veniam assumenda asperiores? Praesentium fuga omnis reiciendis dignissimos, minus vitae enim, quo natus quam amet, quibusdam laudantium nostrum! Molestiae eius quos, assumenda quam nisi adipisci excepturi. Maiores atque quae reiciendis natus. Molestiae odio optio facilis! Nisi deleniti ducimus iure architecto possimus repudiandae inventore totam harum aperiam reprehenderit, pariatur, quas ut asperiores nesciunt molestias sint assumenda, recusandae quam dolorum at earum saepe corporis aspernatur? Distinctio possimus rem illum provident?</p>
        </section>

    </main>
    <%- include('partials/footer') %>
</body>
</html>



